*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Baloo 2";
    background-image: linear-gradient(90deg, #1D406D, #3F67A9);
    color: #FFF;
}

.title
{
    color: #44002F;
    font-size: 45px;
    text-align: center;
    padding: 30px;
}

.instruction
{
    font-size: 25px;
    padding: 20px;
}

.instruction strong
{
    color:#44002F;
}

.form
{
    padding: 30px;
    text-align: center;
}

#guessField
{
    padding: 8px;
    border: 1px solid #44002F;
    border-radius: 25px;
    outline: none;
}

.guessSubmit
{
    padding: 8px;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    background: #44002F;
}

.resultParas
{
    display: block;
    text-align: center;

}

.lastResult
{
    font-size: 20px;
    font-weight: 700;

}